body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;
	min-width: 300px;
	position: relative;
    font-size: 14px;
}
a {
	outline : none;
	color: #3889AB;
}
#header {
    border-bottom: solid 1px #91E0C5;
    font-weight: bold;
    color: #555;
    padding: 10px 0 8px 10px;
}
#header img {
	z-index: 2;
}
#header #spaceEdit {
    cursor: pointer;
    font-size: 18px;
    float: right;
    padding: 8px;
    margin-top: -7px;
    margin-right: 0px;
}
#spaceEdit:hover {
    color: #000;
    background-color: #91E0C5;
}

.group {
	padding: 5px 0;
}

.menuOption {
	line-height: 2em;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 10px;
}
.menuOption .optionText:hover {
	text-decoration: underline;
}
.menuOption .hotkey {
    float: right;
    font-size: 13px;
    color: #888;
}
.menuOption .hotkey:hover {
    text-decoration: underline;
}
.menuOption:hover .fa {
	opacity: 1;
}
.menuOption img {

}
.fa {
	margin-right: 5px;
	opacity: 0.8;
}

